54 5 * * * /bin/bash -c 'source /root/keystone_trystack1 && [[ $FORCE_REBUILD =~ ^([yY][eE][sS]|[yY])+$ ]] && nova delete beijing hangzhou huhhot; exit'
55 5 * * * /bin/bash -c 'source /root/keystone_trystack2 && [[ $FORCE_REBUILD =~ ^([yY][eE][sS]|[yY])+$ ]] && nova delete master1-k8s worker1-k8s worker2-k8s; exit'
*/15 * * * * /bin/sh -c "wget -T 10 -t 2 -qO- $BEIJING_DOMAIN > /dev/null || (cd /root/trystack && ./setup.sh); exit"
