54  21 * * * /bin/sh -c "source /root/keystone_trystack1 && nova delete beijing hangzhou huhhot; exit"
55  21 * * * /bin/sh -c "source /root/keystone_trystack2 && nova delete master1-k8s worker1-k8s worker2-k8s; exit"
*/15 * * * * /bin/sh -c "wget --no-passive-ftp -T 10 -t 2 -qO- ftp://open.dynu.com > /dev/null || (cd /root/trystack && ./setup.sh); exit"
