daemon=60
syslog=yes
pid=/var/run/ddclient.pid

protocol=dyndns2
server=api.dynu.com
use=web, web=checkip.dynu.com/, web-skip='IP Address'
login=trystack
password=1234567890

{{ var_domain }}.dynu.com
